<div class="footer">
    <div class="left">
      <i class="fas fa-map-marker-alt">
      </i> <span> Ke , A Creative Plan</span>
      <p>&copy; 2023 TopMovies Inc</p>
    </div>
    <div class="middle">
      <h2>License</h2>
      <h2>License Policy</h2>
      <h2>Terms of Service</h2>
    </div>
    <div class="right">
      <h2>Follow Us</h2>
      <a target="_blank" href="https://twitter.com/enos_muthiani"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://github.com/lyznne"><i class="fab fa-github"></i></a>
    </div>
  </div>
  