<nav class="top">
    <div class="logo">
        <i class="fa-solid fa-bars fa-flip"></i>
        <a href="/">Top Movies </a>
    </div>

    <ul>
        <li> <a href="/">Home</a></li>
    </ul>
    <ul>
        <li> <a href="/about">About</a></li>
    </ul>

</nav>
