:root {
    --primary-color: rgb(4, 30, 66);
    --secondary-color: #fff;
    --tertiary-color: #ddd;
    --hv-color: #002244;
    --text-color: #03575a;
    --desc-color: black;

    --border-r-sm: 10px;
    --border-r-md: 12px;

    --padd-sm: .75rem;
    --padd-md: 1rem;
    --padd-lg: 1.2rem;
    --padd-xl: 5rem;


}

*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}

a {
    text-decoration: none;
}
.dark-mode {
    background-color: var(--primary-color); 
    color: white; 
    --hv-color: white;
    --desc-color: #01000f;
}


.body-404 {
    min-height: 100dvh;
    background: url('../images/404-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(66, 81, 90);
    z-index: 9999;
}

.top {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--border-r-sm);
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
}

.top .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top .navbar .top-start {
    display: flex;
    align-items: center;
    gap: var(--padd-sm);
}

.top .logo {
    color: var(--secondary-color);
    font-family: 'Goldman', cursive;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.top .logo a {
    color: var(--secondary-color);
    line-height: var(--padd-lg);
}

.top ul {
    height: 15px;
    display: flex;
    list-style: none;

}

.top ul li {
    margin: 0 10px;
}

.top ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 2px 8px 2px 8px;
}

.top ul li a::after {
    width: 0;
    display: block;
    height: 1px;
    content: '';
    background-color: #00ffff;
    transition: width 0.3s;
}

.top ul li a:hover::after {
    width: 100%;
}

.top ul li a:hover {
    color: var(--tertiary-color);
}
.mode {
    width: 60px;
    height: 30px;
    border: 1px solid white ;
    border-radius: 10px;
    background: white;
    cursor: pointer;

}
.mode > div {
    display: block;
    border: 1px solid white ;
    border-radius: 50% ;
    height: 29px;
    width: 29px;
    background-color: var(--hv-color);
    z-index: 1;
    margin-left: -2px;
    /* transition: transform  .2s ease; */
    
}

.mode-active {
    background-color: var(--primary-color);
    border: 1px solid white;
}
.div-active {
    transform: translateX(100%);
    background: white;
    /* opacity: 1; */
}
.mode > div {
    position: relative;
}
.mode span {
    position: absolute;
    top: 20%;
    right: 8%;
    background: whitesmoke;
    color: black;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s ease-in;
    visibility: hidden;
    opacity: 0;

}
.mode:hover span {
    visibility: visible;
    opacity: 1;
}

/* Movie cards */
.movies {
    margin-top: var(--padd-xl);
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    color: var(--hv-color);
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    gap: var(--padd-sm);
}

.movie-card .image {
    width: 100%;
    position: relative;
}
.movie-card {
    width: 72%;
    height: max-content;
    margin: 20px 0 0 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-in-out;
}
.movie-title {
    visibility: hidden;
    transition: all .3s ease;
    width: 100%;
    position: absolute;
    top: 50%;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: var(--padd-md);
    background: #00224475;
    height: 50%;
    vertical-align: middle;
    color: var(--secondary-color);
    transform: translateY(50%);
    opacity: 0;
}

.movie-card .image:hover .movie-title {
    cursor: pointer;
    visibility: visible;
    transform: translateY(0);
    opacity: 1;

}



.poster {
    width: 100%;
    border-radius: 5px 5px 0 0;

}



.items {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.movie-id,
.movie-rating {
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
    margin-right: 20px;
}

.movie-rating {
    margin-top: 2px;
    color: rgb(255, 196, 0);
}

.movie-rating span {
    color: var(--text-color);
}

.movie-description {
    height: 45px;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 0.5rem 1rem;
    text-align: justify;
    color: var(--desc-color);
    overflow:
        hidden;
}


/* footer css  */
footer {
    position: relative;
    bottom: 0;
}
.footer {
    margin-top: var(--padd-md);
    
    background: var(--primary-color);
    width: 100%;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padd-md);
}

.footer::before {
    content: "";
    height: 1px;
    display: block;
    background: var(--tertiary-color);
    width: 100%;
    margin-bottom: var(--padd-sm);
}

.footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .left>div {
    margin-bottom: var(--padd-md);
}

.footer .left i {
    margin-right: 5px;
}

.footer .middle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--padd-sm);
}

.footer .middle h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .right h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer h2:hover {
    color: var(--tertiary-color);
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
}

.footer a:hover {
    color: var(--hv-color);
}

.footer i {
    margin-right: 10px;
}


/* 404 page css  */
.main {
    position: 
    absolute;
    bottom:40%;
    left: 40%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.main h1 {
    font-size: 5em;
    font-family: 'Goldman', cursive;
    font-weight: 700;
}

.btn-404 {
    font-family: 'Orbitron', sans-serif;
    margin-top: 5em;
    padding: 15px 25px;
    background-color: #fff;
    color: var(--hv-color);
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-404:hover {
    background-color: var(--hv-color);
    color: #fff;
}

/* about page css  */

.about-main {
    display: flex;
    margin-top:var(--padd-xl);
    padding: var(--padd-md);
}
.about-container {
    max-width: 60%;
}

.about-container h1 {
    font-size: 40px;
}
.line {
    height: 4px;
    width: 50%;
    background: var(--hv-color);
    border-radius: 20px;
    margin-bottom: 20px;
}
.about-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.about-aside {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Varela Round', sans-serif;
    padding: 30px;
    transition: border-left 2s ease;
    border-radius: var(--border-r-md);
    color: black;
}
.about-aside:hover {
    border-left: 1px solid var(--hv-color);

}
.about-aside h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.about-aside .about-p {
    text-align: start;
}
.about-aside .about-p > p {
    margin-bottom: 10px;
}
.about-aside .about-p span , a {
    color: var(--text-color);
}
.about-aside .about-p span:hover , a:hover {
    text-transform: capitalize;
    cursor: pointer;
    color: #0022448c;
}


/* movie css  */
.movie-body .container .movie {
    margin-top: var(--padd-xl);
}
.movie .movie-item {
    padding: var(--padd-md);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--padd-md);
}
.video embed {
    width: 640px;
    height: 360px;
    border-radius: 5px;
}

.movie img {
    margin-top: var(--padd-lg);
    width: 300px;
    object-fit: cover;
    border-radius: var(--border-r-sm);
}
.movie-aside {
    margin-top: 5px;
    background: rgba(210, 249, 253, 1);
    border-radius: 10px;
    box-shadow: #2e2e2e;
    padding: var(--padd-sm);
    color: black;
}
.movie-aside h2 {
    font-size: 24px;
}

.movie-aside p {
    font-size: 18px;
    margin: 10px 0;
}
.movie-detail p {
    font-size: 18px;
    width: 100%;
}
.description {
    background: rgba(210, 249, 253, 1);
    border-radius: 10px;
    box-shadow: #2e2e2e;
    padding: var(--padd-sm);
    color: var(--desc-color);
}
