<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> 

</head>
<body class="body-404" >
    <header>
        <%- include('../partials/nav'); %>
    </header>
    <div class="main">
        <h1>404</h1>
        <a href="/">
            <button class="btn-404" >Home</button>
        </a>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body> 
</html>   