<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="about-body">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <main class="about-main">
        <div class="about-container">
            <h1>About TopMovies</h1>
            <div class="line"></div>
            <p>Welcome to TopMovies, a platform where you can find information about the latest and most popular movies. Our team of experts is dedicated to bringing you accurate and up-to-date information about the movies you love.</p>
            <p>Whether you're looking for reviews, ratings, or recommendations, we've got you covered. Browse our website to discover movies, Watch trailers  and stay informed about the latest releases.</p>
        </div>

        <aside class="about-aside">
            <h2>Our Team</h2>
            <ul>
                <li><span>John Doe</span> - CEO</li>
                <li><span>Jane Doe</span> - Creative Director</li>
                <li><span>Bob Smith</span> - Web Developer</li>
            </ul>
        </aside>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
